.fire {
  background: url(../images/backgrounds/h_img.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0;
  height: 100vh;
  font-family: 'Yeon Sung', cursive;
}
body {
  margin: 0;
  padding: 0;
  height: auto;
  text-align: center;
}

 .container {
  margin: inherit;
  width: inherit;
}


#mouse-click {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 25%, 50%, 75%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}

.text1 {
  background: transparent;
  font-weight: bold;
  color: #FFFFFF;
  align-content: center;
  font-size: 50px;
}


.part2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 22px;
}

#second{
  background: url(../images/backgrounds/s_image.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  color: aliceblue;
}

#section4 {
  background: url(../images/backgrounds/c_image.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 5px;
}

.part6 {
  margin-top: 10px;
}

textarea {
  border-radius: 15px;
}
.work {
   position: absolute; 
  top: 50%;
  left: 20%;
  color: black;
  background: white;
  border: 1px solid #800080;
  padding: 12px;
  display: none;
}
.sleep
{
  position: absolute;
  top: 50%;
  left: 20%;
  color: black;
  background: white;
  border: 1px solid #800080;
  padding: 12px;

}

.btn:hover {
  color: #000000;
  text-decoration: none;
}

.btn {
  background-color: #329932;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-top: 5%;
  width: auto;
  margin-bottom: 20px;
}

.text3 {
  background: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  align-content: center;
}

h4 {
  font-weight: bold;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.hide, .hide1, .hide2 {
  display: none;
}
h5{
  font-family: 'Permanent Marker', cursive;
}
.writing1 p{
  font-family: 'Poiret One', cursive;
}
